{% extends "base.html.twig" %}

{% block title %}New article{% endblock %}

{% block body %}
<p class="h1">New article</p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}